*{
    font-family: "Metropolis", sans-serif;
    margin-left: 0px;
    margin-top: 0px;
}


html{


}

body{
    width: 430px;
    margin-right: 0px;
    height: 100%;
}

header{
    background-color: #0048FF;
}

main{
    background-color: #edeff3;
    display: inline-block;
    width: 430px;
}


header img{ /* croix blanc*/
    width: 24px;
    position: fixed;
    top: 15px;
    left: 395px;
}

.title{
    /* de base 16px*/
    font-size: 0.9375em; /* 15/16 */
    font-family: "Metropolis", sans-serif;
    padding: 15px 258px 25px 0px;
    margin-bottom: 5px;
    color: white;
    margin-left: 20px;
    display: inline-block;
}


 /*-------------boutton-------------------*/
#francais_belgique{
    display: flex;
    align-items: center; /* Centre verticalement */
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 0px;
    margin-right: 25px;
    margin-left: 20px;
    background-color: transparent;
    margin-top: 3px;

}

#profil_etudaiant{
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 0px;
    margin-right: 25px;
    margin-left: 20px;
    background-color: transparent;
}

#ce{
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 0px;
    margin-right: 25px;
    margin-left: 20px;
    background-color: transparent;
    margin-bottom: 25px;
}

#be{
    width: 31px;
    margin-left: 20px;
    padding-left: 0px;
}

#bonhomenoire{
    width: 28px;
    margin-left: 20px;
    padding-left: 0px;
}

#ce img{
    width: 22px;
    margin-left: 20px;
    padding-left: 0px;
}

#francais_belgique button{ /* francais belgique*/
    margin-left: 20px;
    padding: 15px 0px 15px 0px;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
}


#profil_etudaiant button{
    /* de base font-siez: 13.3333px */
    margin-left: 20px;
    padding: 15px 0px 15px 0px;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.competances_aquise{
    margin-left: 20px;
    padding: 15px 0px 15px 0px;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

main section button:last-of-type{ /* Compétences acquise */
    /* de base font-siez: 13.3333px */

}

#rafraichire_les_compétances{ /* comme le p mais en plus global*/
    background-color: #0048FF;
    border-style: none;
    border-radius: 9px;
    width: 401px;
    height: 34px;
    margin-left: 14px;
    margin-top: 28px;
    margin-bottom: 28px;


}

#refresh{ /* Rafraichir les compétences acquise */
    font-size:1.050002625006563em;/* de base font-siez: 13.3333px */
    color: #FFFFFF;
    text-decoration: none;



}

div button{ /* reglage*/
     /* de base font-siez: 13.3333px */
    background-color: transparent;
    border-style: none;

}

footer button:first-of-type{ /* Signaler un problèmes */
    /* de base font-siez: 13.3333px */
    color: #0048FF;
    background-color: transparent;
    border-style: none;
    margin-left: 20px;
    margin-top: 12px;
}

footer button:last-of-type{ /* Gérer */
    /* de base font-siez: 13.3333px */
    display: block;
    background-color: #0048FF;
    color: white;
    border-radius: 8px;
    border-style: none;
    margin-top: 8px;
    margin-left: 20px;
}

/*----------------------------------------------*/
#francais_belgique img:nth-of-type(2){
    width: 6.41px;
    margin-left: 8px;
}





.logos li:nth-child(1) img {
    padding: 14px 33px 14px 32px;
}

.logos li:nth-child(2) img {
    padding: 2px 30px 1px 30px;
}

.logos li:nth-child(3) img {
    width: 62px;
    padding: 12px 32px 13px 31px;
}

.logos li:nth-child(4) img {
    width: 63px;
    padding: 1px 31px 16px 31px;
}

li:nth-child(5) img {
    width: 97px;
    padding: 29px 14px 30px 14px;
}

li:nth-child(6) img {
    width: 58px;
    padding:  1px 34px 15px 33px;
}

li:nth-child(7) img {
    width: 71px;
    padding: 0px 27px 12px 27px;
}

li:nth-child(8) img {
    width: 64px;
    padding: 16px 31px 15px 30px;
}

li:nth-child(9) img {
    width: 44px;
    padding: 6px 41px 6px 40px;
}

li:nth-child(10) img {
    width: 97.59px;
    padding: 1px 11.52px 25.24px 15.88px;
}

li:nth-child(11) img {
    width: 95px;
    padding: 2px 15px 22px 15px;
}

li:nth-child(12) img {
    width: 68px;
    padding: 14px 29px 14px 28px;
}

li:nth-child(13) img {
    width: 76px;
    padding: 10px 25px 10px 24px;
}

li:nth-child(14) img {
    width: 59px;
    padding: 12px 33px 12px 33px;
}

li:nth-child(15) img {
    width: 68px;
    padding: 14px 29px 13px 28px;
}



#chekone{
    width: 15px;
   position: relative;
    top: 8px;
    left: 8px;
    padding: 0px;

}

#chektwo{
    width: 15px;
    padding: 0px;
    position: relative;
    top: 8px;
    left: 8px;
}

#chekthree{
    width: 15px;
    padding: 0px;
    position: relative;
    top: 8px;
    left: 8px;
}

#chekfoure{
    width: 15px;
    padding: 0px;
    position: relative;
    top: 8px;
    left: 8px;
}

#chekfive{
    width: 15px;
    padding: 0px;
    position: relative;
    top: 8px;
    left: 8px;
}



button>img{ /* flèche rafraichisante*/
    width: 21px;
    position: relative;
    top: 2px;
    right: 54px

}

div>img{  /*gear*/
    width: 28px;
    margin-left: 20px;
    margin-right: 12px;
}

.zone_reglage{
    display: flex;
    vertical-align: center;
    margin-bottom: 25px;
}

.fleche_droite{
    width: 6.41px;
    margin-left: 8px;
}

footer img{ /*logo de la hepl*/
    width: 96px;
    position: relative;
    top: -33px;
    left: 318px;
}

/* tout les images*/
.logos{
    display: grid;
    gap: 5px;
    grid-template-columns: 125px 125px 125px;
    grid-template-rows: 95px 95px 95px 95px 95px;
    list-style: none;
    margin-left: 20px;
}

/* tout les fond*/
li{
    background-color: white;
    border-radius: 9px;

}

section span{
    display: block;
}

footer{
    color: #FFFFFF;
}
