*{
    font-family: Gotham;
   ;
}
img{
    width: 100%;
}

#lienBurgerMenu{
    visibility: hidden;
}

#burgeurmenu{

}

#burgeurmenu span:nth-of-type(1){
    display: block;
    width: 30px;
    height: 2px;
    background-color: black;
    margin: 6px 6px 0px 6px ;
}

#burgeurmenu span:nth-of-type(2){
    display: block;
    width: 30px;
    height: 2px;
    background-color: black;
    margin: 6px 6px 3px 6px ;
}


#burgeurmenu span:nth-of-type(3){
    display: block;
    width: 30px;
    height: 2px;
    background-color: black;
    margin: 6px 6px 6px 6px ;
}



#nomprenomhaut{
    font-family: Bebas Neue,Alegreya Sans,sans Serif;
    /* de base il y a le font size fait 16 px*/
    color: black;
    position: absolute;
    top: 0;
    left: 15%;
    right: 15%;
    font-size: 3em; /* 48/16 */



}

#guillemet_ouvrant{
    width: 60px;
}

#guillemet_fermant{
    width: 60px;
}

#instableu{
    visibility: hidden;
    width: 50px;
    position: absolute;
    top: -10px;
    left: 20px;

}

#facebookbleu{
    visibility: hidden;
    width: 24.06px;
    position: absolute;
    top: 0;
    left: 15px;

}

#twiterbleu{
    visibility: hidden;
    width: 120px;
    position: absolute;
    top: -28.7px;
    left: 30px;

}

#logoaccesibility{
    width: 45px;
    position: fixed;
    top: 13px;
    right: 25px;

}


/*------------------------header-------------------*/


span{
    font-family: Bebas Neue,Alegreya Sans,sans Serif;
    /* de base il y a le font size fait 16 px*/
    color: #5f82a9;
}

h1 span:nth-of-type(2){  /* ayman du h1*/
    color: black;
}

#enplus{
    font-family: Helvetica Neue;
    /* de base il y a le font size fait 16 px*/
    color: #5f82a9;
}

#qualityproduct{
   font-family: Gotham;
    font-size: 1em /* 16/16*/
}

cite{
    font-size: 1.5em; /* 24/16 */
    color: #6B6B6B;
}

h1{
    font-family: Bebas Neue,Alegreya Sans,sans Serif;
    /* de base il y a le font size fait 16 px*/

    font-size: 2.8125em /* 45/16 */
}

h2{
    font-family: Bebas Neue,Alegreya Sans,sans Serif;
    font-size: 2.8125em; /* 45/16 */
}

h3{
    font-family: Bebas Neue,Alegreya Sans,sans Serif;
    color: #999;
    font-size:1.1875em;  /* 19/16*/
}

div:nth-of-type(3)>a {
    background-color: #5f82a9; /* c le boutton mon portefolio */
}

div:nth-of-type(2)>p {
    color: #ffffff; /* github discord...*/
}

div:nth-of-type(3)>h2 {
    color: white; /* MES*/
}

div:nth-of-type(2)>h2 {
    color: white; /* CONTACTER*/
}


p:nth-of-type(1)>span { /*email dans contactez moi*/
    color: black;
}

.extention{
    color: black;
    visibility: hidden;
}

div{ /* la zone ou se trouve la citation et l'avi*/
    background-color: #D9D9D9;
}

#voirecole{
    font-family: gotham;
    color: #999;
    font-size: 0.9375em; /* 15/16 */
}

#surmonparcoure{
    background-color: #5f82a9;
    display: inline-block;
    color: white;
    padding: 23px 16px 23px 15px;
}

#surayman{
    color: white;
    border: solid white;
    background-color: transparent;
}


#imageAyman{
    width: 100%;
    position: absolute;
}

#liege_atlas_gris{
    width: 147px;

}

#hepl_gris{
    width: 291px;
}

#mon_porfolio{
    color: white;
    display: inline-block;
    background-color: #5F82A9;
    padding: 22px 106px 21px 89px;
}

a{
    font-size: 0.875em; /* 14/16 */
}

p{
    font-family: Helvetica Neue;
   font-size: 1em; /* 18/18 */

}

#taille_seize{
    font-size: 1em; /* 16/16 */
}



ul li:nth-child(2) a {
    padding-right: 224px;
}

ul li:nth-child(3) a {
    padding-right: 244px;
}

/*-----------------------reseaux sociaux-------------------*/
#Logo_insta_Blanc{
    width: 36.18px;
    position: absolute;
    right: 66px;


}

li a {
    display: inline-block;
    background-color: #6B6B6B;
    padding: 22px 223px 21px 25px;
    color: white;
    margin-bottom: 16px;
}

#logo_facebook_Blanc{
    width: 35px;
    right: 0px;
    margin-right: 18px;
}

#Logo_twitter_Blanc{
    width: 36px;
    right: 0px;
    margin-right: 18px;
}



/*----------------------footer-----------------*/
footer{
    background-color: black;
}

#surmonparcourebas{
    color: white;
}

#portefoliobas{
    color: white;
}

#formulairebas{
    color: white;
}

#instableubas{
    width: 25px;
    margin: 25px 12px 36px 195px;

}

#facebookbleubas{
    width: 24.06px;
    margin: 26px 12px 36px 0px;
}

#twitterbleubas{
    width: 26px;
    margin: 27px 198px 37.60px 0px;
}

#nomprenombas{
    font-family: Bebas Neue,Alegreya Sans,sans Serif;
    color: white;
}

#pc_et_cactus{
    width: 100%;
    visibility: hidden;
}

#textedefin{
    color: white;
    font-size: 13px;
    font-weight: lighter;
}

footer div{
    background-color: black;
}

footer span{ /* les liens de footer*/
    color: white;
    font-family: Gotham;
    font-size: 1em;
}/* de base 16    16/16* /